@media screen and (max-width: 500px) {
  #banner {
    position: relative;
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.6),
        rgba(34, 34, 34, 0.6)
      ),
      url(/images/banner.jpg);
    background-size: cover;
    color: #fff;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 24px;
  }
  .nav-container .navbar-items {
    border: none !important;
    width: 100%;
  }
  .avata {
    display: none;
  }
  .avata-center {
    margin: 0;
  }
  .info-center {
    display: none;
  }
  /* Mục tiêu nghề nghiệp- Thông tin cá nhân */
  .bg-container {
    display: flex;
    flex-direction: column;
  }

  /* Kinh nghiệm, ..., */
  .job-info-container {
    display: flex;
    flex-direction: column;
  }

  /* Chứng chỉ giải thưởng */
  .certificate {
    width: auto;
  }

  .certificate-container {
    display: flex;
    flex-direction: column;
  }

  .certificate-items {
    display: flex;
    flex-direction: column;
  }

  /* Dự án */
  .project {
    width: auto;
  }
  .project-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .project-image {
    width: 400px;
  }
  .project-item-2021 {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  /* footer */
  .icon-footer {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 48px;
  }
}
